body {
    font-family: 'Roboto', sans-serif;

}




/* the two containers container the login section on the left and the company images on the right */

.boxes {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


.logo-img {
    margin-top: 18em;
    width: 17%;
    height: auto;
}

#logo-container {
    text-align: center;
}

/* styling for the title's etc */

h2 {
    text-align: center;
    font-weight: 400;
}


h4 {
    font-weight: 300;
    text-align: center;
}

h6 {
    font-size: 19px;
    color: #8080804d;
    text-align: center;
}

.login-title {

    font-size: 19px;
    color: #8080804d;
    ;
}


/* Styling for input text section and buttons */

input[type="text"]#subdomain {
    -webkit-appearance: none !important;
    border: 1px solid #8080804d;
    color: #8080804d;
    ;
    width: 89%;
    padding: 19px;
    margin-bottom: 28px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

/* password input box */
#password {
    -webkit-appearance: none !important;
    border: 1px solid #8080804d;
    width: 89%;
    font-size: 16px;
    padding: 19px;
    margin-bottom: 28px;
    border-radius: 8px;
    outline: none;
}

/* login button */
#login-btn {
    -webkit-appearance: none !important;
    border: 1px solid #8080804d;
    background-color: rgb(15 29 47);
    color: white;
    font-size: 1em;
    width: 98%;
    padding: 0px;
    height: 70px;
    border-radius: 8px;
    outline: none;
}

/* the buttons with the social media buttons */
.logo-btn-container {
    display: flex;
    width: 100%;

}

/* the class added to all social media logos in the buttons*/

.logo-btn-container {
    height: 70px;
    border-radius: 8px;
    border: 1px #8080804d solid;
    background-color: white;
    height: 107px;
    outline: none;
}

.btn-logo {
    padding: 11px;
    width: 9%;
    margin-top: 26px;
    margin-left: 91px;
}

/* ------ */

/* the right company image */
#right-img {

    height: 1095px;
    width: 216%;
    float: right;
    margin-right: -18em;
}


/* MEDIA QUERIES */

/* MEDIA QUERY FOR MOBILE DEVICES */

@media only screen and (max-width: 600px) {
    #right-img {
        display: none;
    }

    .logo-btn-container {}

    .btn-logo {
        margin-left: 53px;
    }
}

/* Small devices, portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 1023px) {

    #right-img {
        display: none;
    }

    .boxes {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

    #right-img {
        width: 156%;
    }
}

@media only screen and (min-width: 1200px) {
    #right-img {
        width: 182%;
    }
}